<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Main Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<!-- <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" /> -->
		<link rel="stylesheet" href="css/style.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#two">Reservation History</a></li>
							<li><a href="#one">Inventory</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Gate Scheduler</h1>
							<p>Welcome to administrator view</p>
							<ul class="actions">
								<li><a href="#two" class="button scrolly">Make gate reservation</a></li>
							</ul>
						</div>
					</section>

				<!-- Two -->
				<section id="two" class="wrapper style3 fade-up">
					<div class="inner">
						<h2>Reservations history</h2>
						<div class="section-center">
							<div class="container">
								<!-- <div class="row">
									<div class="booking-form">
										<form>
											<div class="row no-margin">
												<div class="col-md-3">
													<div class="form-group">
														<span class="form-label">Gate</span>
															<select class="form-control">
																<option>1</option>
																<option>2</option>
																<option>3</option>
																<option>4</option>
																<option>5</option>
																<option>6</option>
																<option>7</option>
																<option>8</option>
																<option>9</option>
																<option>10</option>
																<option>11</option>
															</select>
														<span class="select-arrow"></span>
													</div>
												</div>
												<div class="col-md-6">
													<div class="row no-margin">
														<div class="col-md-5">
															<div class="form-group">
																<span class="form-label">Check In</span>
																<input class="form-control" type="date" required>
															</div>
														</div>
														<div class="col-md-2">
															<div class="form-group">
																<span class="form-label">Time</span>
																<select class="form-control">
																	<option>00:00</option>
																	<option>01:00</option>
																	<option>02:00</option>
																</select>
																<span class="select-arrow"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-btn">
														<button class="submit-btn">Check availability</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div> -->
								<div id="top20"> 
									<div class="row"> 
										<div class="col s12"> 
											<table class="responsive-table scroll" > 
												<thead> 
													<tr style="height: 40px;" > 
														<th style="text-align:center;">Gate #</th> 
														<th style="text-align:center;">Date</th> 
														<th style="text-align:center;">Date of reservation</th> 
														<th style="text-align:center;">Airline</th> 
														<th style="text-align:center;">Status</th> 
														<th style="text-align:center;"></th>
													</tr> 
												</thead> 
												<tbody> 
													<tr> 
														<td style="text-align:center;">7</td> 
														<td style="text-align:center;">5/31/2022</td> 
														<td style="text-align:center;">5/28/2022</td> 
														<td style="text-align:center;">Volaris</td> 
														<td style="text-align:center;">Accepted</td> 
														<td style="text-align:center;"><button class="btn login-form__btn submit w-70" type="submit">Accept</button></td> 
													</tr> 
													<tr> 
														<td style="text-align:center;">9</td> 
														<td style="text-align:center;">6/1/2022</td> 
														<td style="text-align:center;">5/28/2022</td> 
														<td style="text-align:center;">Aeromexico</td> 
														<td style="text-align:center;">Pending</td> 
														<td style="text-align:center;"><button class="btn login-form__btn submit w-100" type="submit">Accept</button></td> 
													</tr> 
													<tr> 
														<td style="text-align:center;">13</td> 
														<td style="text-align:center;">6/12/2022</td> 
														<td style="text-align:center;">5/28/2022</td> 
														<td style="text-align:center;">Aeromexico</td> 
														<td style="text-align:center;">Accepted</td> 
														<td style="text-align:center;"><button class="btn login-form__btn submit w-100" type="submit">Accept</button></td> 
													</tr> 
												</tbody> 
											</table> 
										</div> 
									</div> 
								</div> 
							</div>
						</div>
					</div>
				</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section class="title-section">
							<div class="content">
								<div class="inner">
									<h1>Gate availability and inventory</h1>
									<span class="form-label">Date</span>
										<select class="form-control">
											<option>06/1</option>
											<option>06/2</option>
											<option>06/3</option>
											<option>06/4</option>
											<option>06/5</option>
											<option>06/6</option>
											<option>06/7</option>
											<option>06/8</option>
											<option>06/9</option>
											<option>06/10</option>
											<option>06/11</option>
											<option>06/12</option>
											<option>06/13</option>
											<option>06/14</option>
											<option>06/15</option>
											<option>06/16</option>
											<option>06/17</option>
											<option>06/18</option>
											<option>06/19</option>
											<option>06/20</option>
											<option>06/21</option>
											<option>06/22</option>
											<option>06/23</option>
											<option>06/24</option>
											<option>06/25</option>
											<option>06/26</option>
											<option>06/27</option>
											<option>06/28</option>
											<option>06/29</option>
											<option>06/30</option>
										</select>
									<span class="select-arrow"></span>
								</div>
							</div>
						</section>
						<section>
							<div class="gate">
								<h1>GATE 01</h1>
							</div>
							<div class="content">
								<div class="inner">
									<div class="hour-container">
										<div class="card">
											<div class="card-container">
												<p>00:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>01:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>02:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>03:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>04:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>05:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>06:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>07:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>08:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>09:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>10:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>11:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>12:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>13:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>14:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>15:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>16:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>17:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>18:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>19:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>20:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>21:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>22:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>23:00</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<div class="inner">
									<div class="hour-container">
										<div class="card">
											<div class="card-container">
												<p>00:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>01:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>02:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>03:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>04:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>05:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>06:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>07:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>08:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>09:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>10:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>11:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>12:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>13:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>14:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>15:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>16:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>17:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>18:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>19:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>20:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>21:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>22:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>23:00</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="gate">
								<h1>GATE 02</h1>
							</div>
						</section>
						<section>
							<div class="gate">
								<h1>GATE 03</h1>
							</div>
							<div class="content">
								<div class="inner">
									<div class="hour-container">
										<div class="card">
											<div class="card-container">
												<p>00:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>01:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>02:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>03:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>04:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>05:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>06:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>07:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>08:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>09:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>10:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>11:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>12:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>13:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>14:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>15:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>16:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>17:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>18:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>19:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>20:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>21:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>22:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>23:00</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<div class="inner">
									<div class="hour-container">
										<div class="card">
											<div class="card-container">
												<p>00:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>01:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>02:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>03:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>04:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>05:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>06:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>07:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>08:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>09:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>10:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>11:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>12:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>13:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>14:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>15:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>16:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>17:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>18:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>19:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>20:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>21:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>22:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>23:00</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="gate">
								<h1>GATE 04</h1>
							</div>
						</section>
						<section>
							<div class="gate">
								<h1>GATE 05</h1>
							</div>
							<div class="content">
								<div class="inner">
									<div class="hour-container">
										<div class="card">
											<div class="card-container">
												<p>00:00</p>
											</div>
										</div>
										<div class="card reserved">
											<div class="card-container">
												<p>01:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>02:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>03:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>04:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>05:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>06:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>07:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>08:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>09:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>10:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>11:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>12:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>13:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>14:00</p>
											</div>
										</div>
										<div class="card pending">
											<div class="card-container">
												<p>15:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>16:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>17:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>18:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>19:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>20:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>21:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>22:00</p>
											</div>
										</div>
										<div class="card">
											<div class="card-container">
												<p>23:00</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner-footer">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>