<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner" id="login">
							<h1>Welcome to Gate Scheduler</h1>
							<form class="mt-5 mb-5 login-input" action="/page-login" method="POST">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Correo" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Contraseña" required>
                                </div>
                                <button class="btn login-form__btn submit w-100" type="submit">Sign In</button>
                            </form>
							<p class="mt-5 login-form__footer"> Don't have an account? <a href="/register" class="text-primary"> Register </a>
						</div>
					</section>
			</div>

		<!-- Footer -->
			<!-- <footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer> -->

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>